<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Articles</h1>
    <div class="wrapper">
        
    </div>
    <h3>Add a new article:</h3>
    <div class="form">
        
        <input type="name" name="title">
        <textarea name="text" rows="6" cols="55">Write your text here...</textarea>
        <button name="save">Save</button>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>