<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h5>Form</h5>
    <input type="text" name="firstname" class="first" placeholder="Your name:">
    <label for="date">Date of birth</label>
    <input type="date" class="date" name="date" id="date">
    <input type="text" class="number" name="number" placeholder="Your phone number:">
    <label for="math">12+23=?</label>
    <input type="number" class="math" name="math" id="math" placeholder="Answer">
    <input type="button" value="Submit" class="submitButton">
    <script src="/js/regular.js"></script>
</body>
</html>